@import '/home/kyst/.cache/wal/colors-waybar.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetbrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @background;
    border: 1px solid @color10;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

#workspaces {
    background-color: @background;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @color0;
    color: @foreground;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @color0;
    transition: all 0.3s ease-in-out
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @color5;
    color: @background;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @background;
    border-radius: 16px;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#pulseaudio,
#network,
#custom-fcitx,
#custom-notification,
#clock {
    background-color: @background;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 45px;
    border: 1px solid @color0;
}

#clock {
    color: @color4;
}

#custom-notification {
    color: @foreground;
    margin: 0 12px 0 12px;
}

#custom-fcitx {
    color: @color2;
}

#pulseaudio {
    color: @color3;
}

#network {
    color: @color5;
}
